<header class="top-header">
  <div class="header-wrapper position-relative">
    {{#view "toggle-button" class="toggle-menu-button" data-target=".menu-list" data-class-name="show-menu"}}
      {{ fa-icon "bars" }}
    {{/view}}
    {{#link-to "index" classNames="logo-link"}}
      <span class="logo"></span>
      <h1>COMPANY NAME & LOGO</h1>
    {{/link-to}}
    <nav class="menu">
      <ul class="menu-list">
        {{#link-to "buy" tagName="li" href=false eventName="dummy" classNames="menu-item"}}
          {{#link-to "buy" classNames="menu-link buy-link"}}BUY{{/link-to}}
        {{/link-to}}
        {{#link-to "rent" tagName="li" href=false eventName="dummy" classNames="menu-item"}}
          {{#link-to "rent" classNames="menu-link rent-link"}}RENT{{/link-to}}
        {{/link-to}}
        {{#link-to "commercial" tagName="li" href=false eventName="dummy" classNames="menu-item"}}
          {{#link-to "commercial" classNames="menu-link commercial-link"}}COMMERCIAL{{/link-to}}
        {{/link-to}}
        {{#link-to "prestige" tagName="li" href=false eventName="dummy" classNames="menu-item"}}
          {{#link-to "prestige" classNames="menu-link default-link"}}PRESTIGE{{/link-to}}
        {{/link-to}}
        <li class="menu-item">
          <a class="menu-link brokers-link">BROKERS</a>
        </li>
        <li class="menu-item">
          <a class="menu-link blog-link">BLOG</a>
        </li>
      </ul>
      {{#view "toggle-button" class="toggle-sidebar-button" data-target=".sidebar" data-class-name="show-sidebar"}}
        {{ fa-icon "ellipsis-h" }}
      {{/view}}
    </nav>
  </div>
</header>
